
!= 'Current date: '
strong!= new Date()
br
br
br

each host in Object.keys(locals.changed)
	.host
		.services
			- var ports = locals.changed[host];
			each port in Object.keys(ports)
				.service
					- var item = ports[port]
					!= item.host + '&nbsp;' + item.port + '&nbsp;' + item.type
					if item.reason
						!= '&nbsp;(' + item.reason + ')'
					if item.since
						!= ' since ' + item.since
	br
	br
