each host in hosts
	.host
		label
			input(
				type = "checkbox",
				name = "forward",
				value = host.key,
				disabled = host.self,
				checked = host.self,
			)
			span
				!= host.key
		ul(style = "margin-top:0;list-style-type:none;padding-left:14px;")
			if host.self
				li
					small.address(ip = '127.0.0.1')
						input(
							type = "radio",
							name = host.key,
							disabled,
							checked,
							style = "width:1em;vertical-align:middle;",
						)
						!= '127.0.0.1'
					!= '&nbsp;'
					small(style = "float:right;margin-right:5px;color:grey;")
						!= 'local'
			else
				each item, index in host.addresses
					li
						small.address(ip = item.ip, port = item.port)
							input(
								type = "radio",
								name = host.key,
								style = "width:1em;vertical-align:middle;",
								value = item.ip + (item.port ? ':' + item.port : ''),
							)
							!= item.ip + (item.port ? ':' + item.port : '')
						if item.source
							!= '&nbsp;'
							small(style = "float:right;margin-right:5px;color:grey;")
								!= item.source
	!= ' '
