each host in hosts
	.host
		label
			input(
				type = "checkbox"
				name = "forward"
				value = host.key
				disabled = host.self
				checked
			)
			span(ip = host.wan && host.wan.ip)
				!= host.key
	!= ' '
